@font-face {
  font-family: Apax;
  font-weight: 500;
  src: url("resources/Apax-Medium.otf") format("opentype");
}

@font-face {
  font-family: Apax;
  font-weight: 400;
  src: url("resources/Apax-Regular.otf") format("opentype");
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h2,
.App-header,
.speech-wrapper .bubble .name {
  font-family: Apax, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
}

body ::-webkit-scrollbar {
  width: 0;
}

a {
  color: #0650d0;
}

.ui.card,
.ui.cards > .card {
  box-shadow: none;
  border: 1px solid #dadede;
}
